{% extends "admin/base_site.html" %}
{% load i18n admin_tools_dashboard_tags %}

{% block branding %}
<h1 id="site-name" style="text-indent: 1px; width: 800px; background: none">{% trans "Django Administration" %}</h1>
<a style="float: right; margin-right: 40px; margin-top: 10px; color: #5B80B2" href="http://www.queo.pt/">Queo Technologies</a>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
{% block dashboard_css %}{% admin_tools_render_dashboard_css %}{% endblock %}
{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}
{% admin_tools_render_dashboard %}
{% endblock %}