errors.log
.sass-cache/
env/
*.pyc
*~
.DS_Store
./media/
media/
/static/*
guedes/staticfiles
./backups/
*.project
*.pydevproject
*.sass-cache
.settings
backups/
*~
*.komodoproject
92-local_settings_devel.conf.py
99-secret_settings.conf.py
logs/
build/
database.db
/guedes.zip
db_settings.zip
