/guedes/guedes/settings/
/guedes/static/*

local_settings.py
*local_settings.py
.sass-cache/
env/
*.pyc
*~
.DS_Store
./media/
media/
./static/
./backups/
*.project
*.pydevproject
*.sass-cache
.settings
backups/
*~
*.komodoproject

