/guedes/static/*

local_settings.py
errors.log
*local_settings.py
.sass-cache/
env/
*.pyc
*~
.DS_Store
./media/
media/
./static/
./backups/
*.project
*.pydevproject
*.sass-cache
.settings
backups/
*~
*.komodoproject
92-local_settings_devel.conf.py
logs/
build/
database.db
/guedes.zip
/guedes/db_settings.zip
