{% load i18n sekizai_tags thumbnail %}
<div class="masonry-container col-xs-12">
    {% if categories.count > 1 %}
    <div class="masonry-filters">
        <button type="button" class="filter btn btn-primary btn-xs" data-filter="*">{% trans "All" %}</button>
        {% for category in categories %}
        <button type="button" class="filter btn btn-info btn-xs" aria-pressed="true" data-filter=".{{category.slug}}">{{ category }}</button>
        {% endfor %}
    </div>
    {% endif %}
    <div class="masonry">
        <ul class="interests">
            {% for interest in interests %}
                <li class="item {{ interest.category.slug }}">
                    <a href="{{ interest.get_absolute_url }}" title="{{ interest }}">
                        <img src="{% thumbnail interest.get_thumbnail 350x350 crop %}" title="{{ interest }}" />
                        <div class="item-title">{{ interest }}</div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% addtoblock "js" %}<script src="{{ STATIC_URL }}aboutme/js/jquery/isotope.pkgd.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}aboutme/js/jquery/imagesloaded.pkgd.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}aboutme/js/aboutme.js"></script>{% endaddtoblock %}
