
.icon-emo-thumbsup:before { content: '\e800'; } /* '' */
.icon-spin4:before { content: '\e801'; } /* '' */
.icon-soundcloud:before { content: '\e802'; } /* '' */
.icon-github:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e804'; } /* '' */
.icon-linkedin:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-emo-beer:before { content: '\e807'; } /* '' */
.icon-stackoverflow:before { content: '\e808'; } /* '' */
.icon-youtube:before { content: '\e809'; } /* '' */
.icon-emo-laugh:before { content: '\e80a'; } /* '' */
.icon-emo-sleep:before { content: '\e80b'; } /* '' */