html, body
    min-height: 100%

body, .container
    min-height: 100%
    height: 100%

ul, li
    list-style-type: none
    padding: 0

h1
    margin-top: 0

a
    transition: all 0.3s ease 0s

img
    max-width: 100%

.container
    padding-top: $gutter * 2
    background-color: rgba(255, 255, 255, 0.8)

.details
    margin-bottom: $gutter
    +clearfix

.image-background
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: $image-background-index
    background: image-url('bg.png') no-repeat center
    +background-size(cover)

.image-credits
    position: absolute
    right: $half-gutter
    bottom: $half-gutter

.inner-container
    @extend .row

.profile-image
    @extend .col-sm-offset-1
    @extend .col-sm-4

    img
        width: 100%

.text
    @extend .col-sm-6

.masonry-filters
    margin-top: $gutter
    margin-bottom: $gutter

    .filter
        margin: 0 $half-gutter $half-gutter 0

.masonry-container
    @extend .col-sm-offset-1
    @extend .col-sm-10

.masonry
    @extend .row

.item
    @extend .col-xs-6
    @extend .col-sm-3
    @extend .col-md-2
    margin-bottom: $gutter
    +opacity(0.8)
    +transition(0.1s opacity)

    &:hover
        +opacity(1)

    a
        background-color: rgba(0, 0, 0, 0.2)
        display: block
        width: 100%
        height: 100%

    img
        width: 100%

.item-title
    +fontMedium(14px)
    position: absolute
    top: 0
    left: ($gutter / 2)
    padding: ($gutter / 2)
    display: table-cell
    color: $white

.item-content
    top: 0
    margin-bottom: -$gutter
    height: 0
    overflow: hidden

    &.active
        height: 400px


.blog aside
    a.back-home
        display: inline-block
        margin-bottom: $gutter

    a.back-blog
        +fontLight()
        float: right
        display: none
        line-height: 18px
        
        +breakpoint(xs-max)
            display: inline-block
    .dropdown-toggle
        display: none
        
        +breakpoint(xs-max)
            display: inline-block
        

    h1
        +fontMedium(18px)
        margin-bottom: $grid-gutter-width
    li
        margin-bottom: ($grid-gutter-width / 2)

    a.btn
        display: block
        text-align: left

.article-header
    h1
        +fontMedium(22px)
    
    .label
        margin-right: ($grid-gutter-width / 2)
        
        &.last
            margin-right: 0