{% extends "base.html" %}
{% load sekizai_tags about_tags thumbnail i18n %}

{% block head_title %}{{object.title}} | {{ block.super }}{% endblock %}

{% block opengraph_title %}{{ object.title }} | {{ block.super }}{% endblock %}
{% block opengraph_image %}{% if object.image %}{{ site.domain }}{% thumbnail object.image 1200x630 upscale crop subject_location=object.image.subject_location %}{% endif %}{% endblock %}
{% block opengraph_description %}{{ object.description|safe|striptags|truncatewords:"30" }}{% endblock %}
{% block twitter_title %}{{ object.title }} | {{ block.super }}{% endblock %}
{% block twitter_image %}{% if object.image %}{{ site.domain }}{% thumbnail object.image 1200x630 upscale crop subject_location=object.image.subject_location %}{% endif %}{% endblock %}
{% block twitter_description %}{{ object.description|safe|striptags|truncatewords:"30" }}{% endblock %}

{% block details_class %}{% if not object.image %}col-sm-10 col-sm-offset-1{% endif %}{% endblock %}

{% block content_detail %}
    {% if object.image %}
        <div class="profile-image">
            <img src="{% thumbnail object.image 380x0 upscale %}" alt="" />
        </div>
        <div class="text">
            <h1>{{ object.title }}</h1>
            {{ object.description|safe }}
            <a href="{% url "home" %}">{% trans "Go Back" %}</a>
        </div>
    {% else %}
        <h1>{{ object.title }}</h1>
        {{ object.description|safe }}
        <a href="{% url "home" %}">{% trans "Go Back" %}</a>
    {% endif %}
{% endblock %}
