{% extends "base.html" %}

{% load sekizai_tags blog_tags thumbnail i18n solo_tags %}

{% block head_title %}{% get_solo 'personalsite.HomePage' as config %}{{ config.page_title }} {% trans "Blog" %}{% endblock %}

{% block bodyclass %}blog{% endblock %}

{% block content_detail %}
    {% get_solo 'personalsite.HomePage' as config %}
	<aside class="col-xs-12 col-sm-3 pull-">
		{% if config.picture %}<a href="/" class="back-home hidden-xs"><img src="{% thumbnail config.picture 380x0 upscale %}" alt="{{ config.page_title }} {% trans "Blog" %}" /></a>{% endif %}
	    <h1>
	    	<a href="/" class="back-blog">{% trans "Back to Home" %}</a>
	    </h1>
	</aside>
	<main class="col-xs-12 col-sm-9">
	   {% block blog_content %}{% endblock %}
   </main>
{% endblock %}

{% block license %}
    <br/>
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
    </a><br />
    <small>This work is licensed under a<br/><a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</small>
{% endblock %}
            
            