<!DOCTYPE html>
{% load sekizai_tags disclaimer_tags cache googleanalytics %}
<html>
	<head>
		<title>{% block head_title %}{% endblock %}</title>

		{% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
		{% addtoblock "css" %}
        <link href="{{ STATIC_URL }}site/css/fontello/animation.css" media="screen, projection, print" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL }}site/css/fontello/animation.css" media="screen, projection, print" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL }}site/css/fontello/fontello-embedded.css" media="screen, projection, print" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL }}site/css/fontello/fontello-ie7-codes.css" media="screen, projection, print" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL }}site/css/fontello/fontello-ie7.css" media="screen, projection, print" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL }}site/css/fontello/fontello.css" media="screen, projection, print" rel="stylesheet" type="text/css" />

		<link href="{{ STATIC_URL }}site/css/print.css" media="print" rel="stylesheet" type="text/css" />
		<!--[if IE]>
		<link href="{{ STATIC_URL }}site/css/ie.css" media="screen, projection, print" rel="stylesheet" type="text/css" />
		<![endif]-->
        <link href="{{ STATIC_URL }}site/css/screen.css" media="screen, projection, print" rel="stylesheet" type="text/css" />
		{% endaddtoblock %}
        {% google_analytics %}
	</head>
	<body>{% spaceless %}
        <div class="image-background"><div class="image-credits"><small>Background image courtesy of: <a href="http://www.freepik.com/free-vector/blue-polygonal-background_758582.htm">Freepik</a></small></div></div>
	    {% block content %}{% endblock %}
	{% show_disclaimer %}{% endspaceless %}
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	{% addtoblock "js" %}
	<script src="{{ STATIC_URL }}site/js/jquery/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}site/js/main.js"></script>
	{% endaddtoblock %}
	{% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}
	</body>
</html>
