{% load i18n sekizai_tags %}
<div class="masonry-container col-xs-12">
    <ul class="masonry-filters">
        <li class="filter" data-filter="*">all</li>
        {% for category in categories %}
        <li class="filter" data-filter=".{{category.slug}}">{{ category }}</li>
        {% endfor %}
    </ul>
    <div class="masonry">
        <ul class="interests">
            {% for interest in interest_list %}
                <li class="item col-sm-3 {{ interest.category.slug }}"><a href="#">{{ interest }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% addtoblock "js" %}<script src="{{ STATIC_URL }}aboutme/js/jquery/isotope.pkgd.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}aboutme/js/jquery/imagesloaded.pkgd.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}aboutme/js/masonry.js"></script>{% endaddtoblock %}
