{% load i18n sekizai_tags %}
<div class="masonry-container col-xs-12">
    <div class="masonry-filters">
        <button type="button" class="filter btn btn-primary btn-xs" data-filter="*">{% trans "All" %}</button>
        {% for category in categories %}
        <button type="button" class="filter btn btn-info btn-xs" aria-pressed="true" data-filter=".{{category.slug}}">{{ category }}</button>
        {% endfor %}
    </div>
    <div class="masonry">
        <ul class="interests">
            {% for interest in interest_list %}
                <li class="item col-sm-3 col-md-2 {{ interest.category.slug }}"><a href="#">{{ interest }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% addtoblock "js" %}<script src="{{ STATIC_URL }}aboutme/js/jquery/isotope.pkgd.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}aboutme/js/jquery/imagesloaded.pkgd.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}aboutme/js/masonry.js"></script>{% endaddtoblock %}
