BeautifulSoup==3.2.1
Django==1.4.20
MySQL-python==1.2.5
Pillow==2.8.1
South==1.0.2
Unidecode==0.04.17
argparse==1.2.1
django-appconf==1.0.1
django-blog-zinnia==0.12.3
django-ckeditor==4.4.7
django-classy-tags==0.6.1
django-colorful==1.0.1
django-compressor==1.4
django-filer==0.9.8
django-google-analytics==1
django-modeltranslation==0.8.1
django-mptt==0.6.1
django-polymorphic==0.6.1
django-robots==1.0
django-sekizai==0.8.1
-e git+https://github.com/lazybird/django-solo@61fd55186ff2aa1f9816214d3a4a03c706d2f534#egg=django_solo-master
django-tagging==0.3.4
django-xmlrpc==0.1.5
djangocms-admin-style==0.2.5
easy-thumbnails==2.2
pyparsing==1.5.7
pytz==2015.2
six==1.9.0
wsgiref==0.1.2
zinnia-wysiwyg-ckeditor==1.2
